header {
  background-color: #214001;
  width: 100%;
  height: 60px;
  /* font-weight: bold;は文字を太くする */
  align-items: center;
  color: aliceblue;
  display: flex;
  font-family: "Edu VIC WA NT Beginner", cursive;
  justify-content: space-between;
  position: fixed;
}

body {
  margin: 0;
}

header h1 {
  margin-left: 30px;
}

.list {
  justify-content: space-between;
}

header a {
  text-decoration: underline;
  color: aliceblue;
  margin-right: 30px;
}

header a:hover {
  color: #c2f279;
}

.forest {
  background-image: url("forest.jpg");
  width: 100%;
  height: 500px;
}

/* first-block */
#first {
  padding: 30px 0;
}

.content {
  background-color: #edf2c2;
}

.content h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 52px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.about_me {
  display: flex;
  justify-content: space-evenly;
}

.block {
  background-color: rgba(79, 115, 2, 0.7);
  text-align: center;
  width: 400px;
  color: aliceblue;
  margin: 30px;
}

.block p {
  padding: 12px;
  font-size: 18px;
}

.block b {
  font-size: 28px;
  font-family: "Zen Maru Gothic", sans-serif;
}

.play {
  text-align: center;
  font-size: 20px;
}

/* second-block */
#second {
  padding: 30px 0;
}

.recent_events {
  background-color: #c2f279;
}

.recent_events h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 52px;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.all_events {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.event {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 30px 0;
}

.event b {
  font-size: 40px;
  font-family: "Zen Maru Gothic", sans-serif;
}

.text p {
  font-size: 20px;
}

.report_image {
  width: 40%;
  height: 340px;
}

.table-tennis_image {
  width: 40%;
  height: 340px;
}

.but {
  color: aliceblue;
  background-color: #05a6a6;
  padding: 5px 20px;
  font-size: 30px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  border-radius: 0 16px 0 16px;
}

.but:hover {
  background-color: #077f8c;
}

.but_content {
  font-size: 20px;
}

footer {
  background-color: #214001;
  width: 100%;
  height: 40px;
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
}
